@font-face {
	font-family: "dyno_sans";
	src: url('./font/dyno_sans/Dyno Regular.ttf');
}
@font-face {
	font-family: "dyno_sans";
	font-weight:bold;
	src: url('./font/dyno_sans/Dyno Bold.ttf');
}
@font-face {
	font-family: "dyno_sans";
	font-style: italic;
	src: url('./font/dyno_sans/Dyno Italic.ttf');
}
@font-face {
	font-family: "dyno_sans";
	font-style: italic;
	font-weight: bold;
	src: url('./font/dyno_sans/Dyno Bold Italic.ttf');
}
html{
	--gutter: 20px;
	font-family: "dyno_sans";
	background-color:#333333;
	overflow-y: scroll;
    overflow-x: hidden;
}
header{
	background-color: #505050;
}
.nav_list {
    list-style: none;
    flex: 1 1 auto;
}
.nav_link{
	background-color: #333333;
	font-size: 25px;
	box-shadow: 0 0 0 5px #333333;
	text-decoration: none;
	color: white
}
.nav_top{
	display: flex;
}
.image{
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content: center;
}
.slogan{
	display: flex;
	color: white;
	justify-content: center;
	background-color: #505050;
}
.img_hira{
	width: 90%;
   	min-height: 0;
   	min-width: 0;
}

.cube{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:10px;
	grid-auto-rows: minmax(300px,auto);
}
.cube div a{
	text-decoration: none;
	color: white;
	font-size: 25px
}
.cube div{
	text-align: center;
	line-height: 300px;
}
.actualite{
	grid-column: 1/3;
	grid-row: 1;
	background-color: #ea5c0d;
}
.converteur{
	background-color: #b94503;
}
.numeros{
	background-color: #ea5c0d;
}
.meteo{
	background-color: #b94503;
}
.carte{
	background-color: #f7af3e;
	grid-column: 2/5
}
h3{
	color: white
}
hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(248, 176, 2, 0), rgba(248, 176, 2, 0.75), rgba(248, 176, 2, 0));
}

/*horizontal scrolling */
.parcours{
	display: grid;
	padding: var(--gutter) 0;
	grid-gap: var(--gutter) 0;
	grid-template-columns: var(--gutter) 1fr var(--gutter);
	align-content: start;
	background-color: #505050;
}
.parcours > *{
	grid-column: 2 / -2;
}
.parcours > .full {
	grid-column: 1 / -1;
}
.grid{
	display: grid;
	grid-gap: calc(var(--gutter) / 2);
	grid-template-columns: 10px repeat(4, calc(50% - var(--gutter) * 2)) 10px;
	grid-template-rows: minmax(150px, 1fr);
  	overflow-x: scroll;
  	scroll-snap-type: x proximity;
  	padding-bottom: calc(.75 * var(--gutter));
  	margin-bottom: calc(-.5 * var(--gutter));
}
.grid:before,.grid:after{
	content: '';
}
.hide-scroll{
	overflow-y: hidden;
	margin-bottom: calc(-.1 * var(--gutter));
}
.grid li{
	list-style: none;
	background-color:#f7af3e; 
	text-align: center;
	line-height: 150px;
}

.grid a{
	text-decoration: none;
	color: white;
}

/*Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b94503; 
}