@font-face {
	font-family: "dyno_sans";
	src: url('./font/dyno_sans/Dyno Regular.ttf');
}
@font-face {
	font-family: "dyno_sans";
	font-weight:bold;
	src: url('./font/dyno_sans/Dyno Bold.ttf');
}
@font-face {
	font-family: "dyno_sans";
	font-style: italic;
	src: url('./font/dyno_sans/Dyno Italic.ttf');
}
@font-face {
	font-family: "dyno_sans";
	font-style: italic;
	font-weight: bold;
	src: url('./font/dyno_sans/Dyno Bold Italic.ttf');
}
html{
	font-family: "dyno_sans";
	background-color:#333333;
}
header{
	background-color: #505050;
}
.nav_list {
    list-style: none;
    flex: 1 1 auto;
}
.nav_link{
	background-color: #333333;
	font-size: 25px;
	box-shadow: 0 0 0 5px #333333;
	text-decoration: none;
	color: white
}
.nav_top{
	display: flex;
}
.image{
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content: center;
}
.slogan{
	display: flex;
	color: white;
	justify-content: center;
	background-color: #505050;
}
.img_hira{
	width: 90%;
   	min-height: 0;
   	min-width: 0;
}

.cube{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:10px;
	grid-auto-rows: minmax(300px,auto);
}
.cube div a{
	text-decoration: none;
	color: white;
	font-size: 25px
}
.cube div{
	text-align: center;
	line-height: 300px;
}
.actualite{
	grid-column: 1/3;
	grid-row: 1;
	background-color: #ea5c0d;
}
.converteur{
	background-color: #b94503;
}
.numeros{
	background-color: #ea5c0d;
}
.meteo{
	background-color: #b94503;
}
.carte{
	background-color: #f7af3e;
	grid-column: 2/5
}
h3{
	color: white
}
hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(248, 176, 2, 0), rgba(248, 176, 2, 0.75), rgba(248, 176, 2, 0));
}